<div class="om-left-panel" style="position:sticky;top:5px">
    <img src="../assets/images/avtar.png" width="100%" class="img-thumbnail">
    <div class="om-upload-pic" data-toggle="tooltip" data-placement="left" title="Change Profile Pic">
        <div data-toggle="modal" data-target="#ProfilePic"><i class="fas fa-camera fa-fw"></i></div>
    </div>
    <div class="w-100"></div>
    <div class="list-group om-list-group">
        <div class="list-group-item"><b>K V Vamshi Das</b></div>
        <a href="" [routerLink]="['/user-profile']" class="list-group-item"><i class="fas fa-user fa-fw"></i> My Profile</a>
        <a href="" [routerLink]="['/user-live-feeds']" class="list-group-item"><i class="fas fa-bullhorn fa-fw"></i> Live Feeds</a>
        <a href="" [routerLink]="['/user-inbox']" class="list-group-item"><i class="fas fa-inbox fa-fw"></i> Inbox</a>
        <a href="" [routerLink]="['/user-saved-jobs']" class="list-group-item"><i class="far fa-heart fa-fw"></i> Saved Jobs <span class="badge badge-secondary float-right">0</span></a>
        <a href="" [routerLink]="['/user-settings']" class="list-group-item"><i class="fas fa-cogs fa-fw"></i> Settings</a>
    </div>
</div>