<footer>
    <div class="container-fluid">
        <div class="om-sub-footer">
            <div class="row">
                <div class="col-md-4" style="border-right:1px solid #ccc;">
                    <div class="row">
                        <div class="col-4">
                            <ul class="om-city-links">
                                <li><a href="">Ahmedabad</a></li>
                                <li><a href="">Bangalore</a></li>
                                <li><a href="">Chandigarh</a></li>
                                <li><a href="">Chennai</a></li>
                                <li><a href="">Coimbatore</a></li>
                                <li><a href="">All Cities</a></li>
                            </ul>
                        </div>
                        <div class="col-4">
                            <ul class="om-city-links">
                                <li><a href="">Delhi</a></li>
                                <li><a href="">Gurgaon</a></li>
                                <li><a href="">Hyderabad</a></li>
                                <li><a href="">Jaipur</a></li>
                                <li><a href="">Kochi</a></li>
                            </ul>
                        </div>
                        <div class="col-4">
                            <ul class="om-city-links">
                                <li><a href="">Kolkata</a></li>
                                <li><a href="">Lucknow</a></li>
                                <li><a href="">Mumbai</a></li>
                                <li><a href="">Pune</a></li>
                                <li><a href="">Trivandrum</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-8">
                    <div class="om-quike-links">
                        <a href="">About us</a> <a href="">Contact us</a> <a href="">Advertise with us</a> <a href="">Terms of use</a> <a href="">Help</a> <a href="">Tech Support</a> <a href="">Career</a>
                        <p>Widely known as India’s no. 1 online classifieds platform, OAMBOO is all about you. Our aim is to empower every person in the country to independently connect with buyers and sellers online. We care about you — and the transactions that bring you closer to your dreams. Want to buy your first car? We’re here for you. Want to sell commercial property to buy your dream home? We’re here for you. Whatever job you’ve got, we promise to get it done.</p>
                        <a href="">Listing Policy</a> <a href="">Terms of Use</a> <a href="">Privacy Policy</a> <a href="">OAMBOO Mobiles Policy</a> <a href="">OAMBOO Brand Guidelines</a> <a href="">Sitemap</a> <a href="">News</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="m-auto w-25 text-center"><img src="../../assets/images/footer_logo.png" alt=""></div>
    <p class="text-center small mb-0"><strong>Copyright &copy; 2020</strong> - All Reserved OAMBOO Soft Consultants Pvt. Ltd. - <small>Apna Desh, Apna Classifieds</small></p>
    <div class="footer_bg"></div>
</footer>