<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/']">Home</a></li>
        <li class="breadcrumb-item"><a [routerLink]="['/jobs']">Jobs</a></li>
        <li class="breadcrumb-item active" aria-current="page">Front Office Executive</li>
    </ol>
</nav>
<div class="container">
    <div class="row">
        <div class="col-lg-9">
            <nav id="JobsNavTabs" class="navbar jobs-nav-tabs mt-3">
                <ul class="nav nav-pills jobs-view-nav">
                    <li class="nav-item active"><a class="nav-link" href="#JobDescription">Job Description</a></li>
                    <li class="nav-item"><a class="nav-link" href="#AboutCompany">About Company</a></li>
                    <li class="nav-item"><a class="nav-link" href="#Benefits">Benefits</a></li>
                    <li class="nav-item"><a class="nav-link" href="#HRProfile">HR Profile</a></li>
                </ul>
            </nav>
            <div data-spy="scroll" data-target="#JobsNavTabs" data-offset="40">
                <div id="JobDescription" class="vm-tab-content">
                    <div class="vm-prod-slidebox mt-3">
                        <h1 class="m-0">Receptionist For A Fertility Centre At Marathahalli</h1><hr class="my-2">
                        <div class="vm-job-ids clearfix">
                            <p>Receptionist / Front Office</p>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  
                            <p>Adroit Neo Tech Solutions Pvt. Ltd.</p>
                            <p>Hyderabad</p>
                        </div>
                        <div class="vm-job-ids clearfix">
                            <span class="id">Job ID: 1255463</span>
                            <span class="time">Listed On: A Month Ago</span>
                        </div>
                        <div class="vm-job-ids clearfix">
                            <span class="id"><button class="btn btn-success btn-sm">Call Recruiter</button></span>
                            <span class="time"><button class="btn btn-success btn-sm">Apply Now</button></span>
                        </div>
                        <div class="vm-job-ids">
                            <h2 class="vm-job-titles">Job Details</h2>
                        </div>
                        <div class="vm-job-ids">
                            <table class="vm-table-list ml-1" width="100%" border="0" cellpadding="5" cellspacing="5">
                                <tr>
                                    <td width="23%"><strong>Role</strong></td>
                                    <td>IT Hardware & Network Engineer</td>
                                </tr>
                                <tr>
                                    <td><strong>Min Experience</strong></td>
                                    <td>1 Year</td>
                                </tr>
                                <tr>
                                    <td><strong>Max Experience</strong></td>
                                    <td>3 Years</td>
                                </tr>
                                <tr>
                                    <td><strong>Min Salary</strong></td>
                                    <td><i class="fas fa-rup"></i>Rs. 10000</td>
                                </tr>
                                <tr>
                                    <td><strong>Max Salary</strong></td>
                                    <td>Rs. 10000</td>
                                </tr>
                            </table>
                        </div>
                        <div class="vm-job-ids">
                            <h2 class="vm-job-titles">Job Description</h2>
                        </div>
                        <div class="vm-job-ids">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci non voluptatem rem, repellat excepturi. Molestiae ab animi perspiciatis, quibusdam tenetur reprehenderit est ratione reiciendis nisi culpa quo nostrum, dignissimos magnam.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci non voluptatem rem, repellat excepturi. Molestiae ab animi perspiciatis, quibusdam tenetur reprehenderit est ratione reiciendis nisi culpa quo nostrum, dignissimos magnam.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci non voluptatem rem, repellat excepturi. Molestiae ab animi perspiciatis, quibusdam tenetur reprehenderit est ratione reiciendis nisi culpa quo nostrum, dignissimos magnam.</p>
                        </div>
                        <div class="vm-job-ids clearfix">
                            <span class="id"><button class="btn btn-success btn-sm">Call Recruiter</button></span>
                            <span class="time"><button class="btn btn-success btn-sm">Apply Now</button></span>
                        </div>
                    </div>
                </div>
                <div id="AboutCompany" class="vm-tab-content">
                    <div class="vm-prod-slidebox">
                        <h1 class="m-0">About Company</h1><hr class="my-2">
                        <div class="row no-gutters">
                            <div class="col-md-2">
                                <div class="jom-company-logo">
                                    <img src="../../assets/images/banner.jpg">
                                </div>
                            </div>
                            <div class="col-md-10">
                                <div class="about-info">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, sapiente aut officiis velit sunt est aliquid veritatis hic numquam distinctio maxime culpa obcaecati omnis accusantium architecto. Rerum quasi possimus voluptatum.</p>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, sapiente aut officiis velit sunt est aliquid veritatis hic numquam distinctio maxime culpa obcaecati omnis accusantium architecto. Rerum quasi possimus voluptatum.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="Benefits" class="vm-tab-content">
                    <div class="vm-prod-slidebox">
                        <h1 class="m-0">Benefits</h1><hr class="my-2">
                        <div class="row no-gutters px-2 pb-2">
                            <div class="col-2">
                                <div class="om-benefits">
                                    <i class="fas fa-concierge-bell fa-2x"></i>
                                    <span>Food</span>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="om-benefits">
                                    <i class="fas fa-swimmer fa-2x"></i>
                                    <span>Swimming Pool</span>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="om-benefits">
                                    <i class="fas fa-umbrella-beach fa-2x"></i>
                                    <span>Outting</span>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="om-benefits">
                                    <i class="fas fa-gamepad fa-2x"></i>
                                    <span>Games</span>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="om-benefits">
                                    <i class="fas fa-dumbbell fa-2x"></i>
                                    <span>GYM</span>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="om-benefits">
                                    <i class="fas fa-dumbbell fa-2x"></i>
                                    <span>GYM</span>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="om-benefits">
                                    <i class="fas fa-dumbbell fa-2x"></i>
                                    <span>GYM</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="HRProfile" class="vm-tab-content">
                    <div class="vm-prod-slidebox">
                        <h1 class="m-0">HR Profile</h1><hr class="my-2">
                        <div class="row no-gutters px-2 pb-2">
                            <div class="col-lg-3">
                                <div class="card">
                                    <div class="card-header py-4 text-center">
                                        <img src="../../assets/images/avtar.png" class="img-fluid img-thumbnail m-auto rounded-circle" width="120" height="120">
                                    </div>
                                    <div class="card-body py-2 text-center">
                                        <b>K V Vamshi Das</b>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-9">
                                <div class="om-job-details pt-0">
                                    <table class="table table-sm table-borderless mb-0">
                                        <tr>
                                            <td colspan="2"><button class="btn btn-success btn-sm"><i class="fas fa-rss fa-fw"></i> Follow Hr</button> <span class="px-3">4,00,000 Followers</span></td>
                                            <td colspan="2" class="job-social-links text-right">
                                                <button class="btn btn-link btn-sm"><i class="fab fa-facebook-square fa-fw"></i></button>
                                                <button class="btn btn-link btn-sm"><i class="fab fa-twitter-square fa-fw"></i></button>
                                                <button class="btn btn-link btn-sm"><i class="fab fa-linkedin fa-fw"></i></button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th><i class="fas fa-building fa-fw"></i> Company Name:</th>
                                            <td colspan="3">Multi Mantech International Pvt. Ltd</td>
                                        </tr>
                                        <tr>
                                            <th><i class="fas fa-graduation-cap fa-fw"></i> Openings Now:</th>
                                            <td><h5 class="mb-0">10 Active Jobs</h5></td>
                                            <th><i class="fas fa-map-marker-alt fa-fw"></i> Closed Jobs:</th>
                                            <td><h5 class="mb-0">200 Get Closed</h5></td>
                                        </tr>
                                        <tr>
                                            <th><i class="fas fa-briefcase fa-fw"></i> Experience</th>
                                            <td>8 Years</td>
                                            <th><i class="fas fa-user fa-fw"></i> HR Type:</th>
                                            <td>Consultant</td>
                                        </tr>
                                        <tr>
                                            <th><i class="fas fa-graduation-cap fa-fw"></i> Education:</th>
                                            <td>B.Com</td>
                                            <th><i class="fas fa-map-marker-alt fa-fw"></i> Location:</th>
                                            <td>Hyderabad</td>
                                        </tr>
                                        <tr>
                                          <td colspan="4"><i class="fas fa-info-circle fa-fw"></i> <b>About:</b> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut quis architecto eos, facere</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 px-2 mt-3">
            <app-user-right-col class="mt-3"></app-user-right-col>
        </div>
    </div>
</div>