<div class="container-fluid">
    <div class="row mt-3">
        <div class="col-2">
            <app-hr-side-nav></app-hr-side-nav>
        </div>
        <div class="col-8">
            <div class="mt-0 pl-4">
                <div class="om-profile-box">
                    <div class="om-profile-header mb-3" style="background-color:#f7f7f7;">
                        <div class="header-icon"><i class="fas fa-user fa-fw"></i></div> 
                        <h2>Konda Vamshi Das</h2>
                        <h4>UI / UX Developer, PHP Developer, Angular Developer</h4>
                        <hr>
                        <div class="row om-cont-details">
                            <div class="col-lg-6 mb-2"><i class="fas fa-phone fa-fw fa-rotate-90"></i> +91 9000992292</div>
                            <div class="col-lg-6 mb-2"><i class="fas fa-at fa-fw"></i> world.cdcther@gmail.com</div>
                            <div class="col-lg-6 mb-2"><i class="fas fa-globe-asia fa-fw"></i> http://vamshi.oamboo.com</div>
                            <div class="col-lg-6 mb-2"><i class="fab fa-facebook-square fa-fw"></i> /kondavamshidas</div>
                            <div class="col-lg-6 mb-2"><i class="fab fa-twitter-square fa-fw"></i> /kondavamshidas</div>
                            <div class="col-lg-6 mb-2"><i class="fab fa-linkedin fa-fw"></i> /kondavamshidas</div>
                            <div class="col-lg-6 mb-3"><i class="fas fa-map-marker-alt fa-fw"></i> <b>Current Location</b> Hyderabad</div>
                            <div class="col-lg-6 mb-3"><i class="fas fa-map-marker-alt fa-fw"></i> <b>Preferred Location</b> Hyderabad, Bangulor</div>
                            <div class="col-lg-2 mb-2"><i class="fas fa-briefcase fa-fw"></i> 07 Years Ex</div>
                            <div class="col-lg-4 mb-2"><i class="fas fa-graduation-cap fa-fw"></i> B.Sc (IT)</div>
                            <div class="col-lg-3 mb-2"><i class="fas fa-rupee-sign fa-fw"></i> <b>CTC</b> - 2,00,000</div>
                            <div class="col-lg-3 mb-2"><i class="fas fa-rupee-sign fa-fw"></i> <b>Ex CTC</b> - 2,00,000</div>
                        </div>
                    </div>
                    <div class="om-profile-header"><div class="header-icon"><i class="fas fa-flag fa-fw"></i></div> Objective</div>
                    <div class="om-profile-body mb-3">
                        <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus vitae eum ullam voluptas labore! Vitae debitis doloribus, officiis dolor voluptas eius, quidem, repudiandae atque ullam dolorum nulla perferendis alias impedit!</p>
                    </div>
                    <div class="om-profile-header"><div class="header-icon"><i class="fas fa-briefcase fa-fw"></i></div> Work Experance</div>
                    <div class="om-profile-body mb-3">
                        <div class="form-group row">
                            <div class="col-lg-2">
                                <div class="om-box-dot"><i class="fas fa-circle fa-fw"></i></div> <span class="om-profile-year">Jun 2015 - Dec 2017</span>
                            </div>
                            <div class="col-lg-10">
                                <div class="om-descrip">
                                    <div class="om-descrip-title">Web Designer & Developer</div>
                                    <div class="om-descrip-sub-title">OAMBOO Soft Consultants Pvt. Ltd. - Hyderabad</div>
                                    <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus vitae eum ullam voluptas labore! Vitae debitis doloribus, officiis dolor voluptas eius, quidem, repudiandae atque ullam dolorum nulla perferendis alias impedit!</p>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-2"><div class="om-box-dot"><i class="fas fa-circle fa-fw"></i></div> <span class="om-profile-year">Jun 2015 - Dec 2017</span></div>
                            <div class="col-lg-10">
                                <div class="om-descrip">
                                    <div class="om-descrip-title">Web Designer & Developer</div>
                                    <div class="om-descrip-sub-title">OAMBOO Soft Consultants Pvt. Ltd. - Hyderabad</div>
                                    <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus vitae eum ullam voluptas labore! Vitae debitis doloribus, officiis dolor voluptas eius, quidem, repudiandae atque ullam dolorum nulla perferendis alias impedit!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="om-profile-header"><div class="header-icon"><i class="fas fa-graduation-cap fa-fw"></i></div> Education</div>
                    <div class="om-profile-body mb-3">
                        <div class="form-group row">
                            <div class="col-lg-2">
                                <div class="om-box-dot"><i class="fas fa-circle fa-fw"></i></div> <span class="om-profile-year">Jun 2015 - Dec 2017</span>
                            </div>
                            <div class="col-lg-10">
                                <div class="om-descrip">
                                    <div class="om-descrip-title">Web Designer & Developer</div>
                                    <div class="om-descrip-sub-title">OAMBOO Soft Consultants Pvt. Ltd. - Hyderabad</div>
                                    <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus vitae eum ullam voluptas labore! Vitae debitis doloribus, officiis dolor voluptas eius, quidem, repudiandae atque ullam dolorum nulla perferendis alias impedit!</p>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-2"><div class="om-box-dot"><i class="fas fa-circle fa-fw"></i></div> <span class="om-profile-year">Jun 2015 - Dec 2017</span></div>
                            <div class="col-lg-10">
                                <div class="om-descrip">
                                    <div class="om-descrip-title">Web Designer & Developer</div>
                                    <div class="om-descrip-sub-title">OAMBOO Soft Consultants Pvt. Ltd. - Hyderabad</div>
                                    <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus vitae eum ullam voluptas labore! Vitae debitis doloribus, officiis dolor voluptas eius, quidem, repudiandae atque ullam dolorum nulla perferendis alias impedit!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="om-profile-header"><div class="header-icon"><i class="fas fa-tasks fa-fw"></i></div> Skills</div>
                    <div class="om-profile-body mb-3">
                        <div class="btn btn-success btn-sm mr-2 mb-2">HTML</div>
                        <div class="btn btn-success btn-sm mr-2 mb-2">CSS</div>
                        <div class="btn btn-success btn-sm mr-2 mb-2">Javascript</div>
                        <div class="btn btn-success btn-sm mr-2 mb-2">jQuery</div>
                        <div class="btn btn-success btn-sm mr-2 mb-2">Angualr Js</div>
                        <div class="btn btn-success btn-sm mr-2 mb-2">WordPress</div>
                        <div class="btn btn-success btn-sm mr-2 mb-2">Microsoft Office</div>
                        <div class="btn btn-success btn-sm mr-2 mb-2">Adobe Photoshop</div>
                        <div class="btn btn-success btn-sm mr-2 mb-2">Dreamwevar CC</div>
                    </div>
                    <div class="om-profile-header"><div class="header-icon"><i class="fas fa-trophy fa-fw"></i></div> Award and Recognition</div>
                    <div class="om-profile-body mb-3">
                        <div class="form-group row">
                            <div class="col-lg-2">
                                <div class="om-box-dot"><i class="fas fa-circle fa-fw"></i></div> <span class="om-profile-year">Jun 2015</span>
                            </div>
                            <div class="col-lg-10">
                                <div class="om-descrip">
                                    <div class="om-descrip-title">Project Manager</div>
                                    <div class="om-descrip-sub-title">OAMBOO Soft Consultants Pvt. Ltd. - Hyderabad</div>
                                    <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus vitae eum ullam voluptas labore! Vitae debitis doloribus, officiis dolor voluptas eius, quidem, repudiandae atque ullam dolorum nulla perferendis alias impedit!</p>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-2">
                                <div class="om-box-dot"><i class="fas fa-circle fa-fw"></i></div> <span class="om-profile-year">Jun 2015</span>
                            </div>
                            <div class="col-lg-10">
                                <div class="om-descrip">
                                    <div class="om-descrip-title">Best Designer</div>
                                    <div class="om-descrip-sub-title">OAMBOO Soft Consultants Pvt. Ltd. - Hyderabad</div>
                                    <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus vitae eum ullam voluptas labore! Vitae debitis doloribus, officiis dolor voluptas eius, quidem, repudiandae atque ullam dolorum nulla perferendis alias impedit!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="om-profile-header"><div class="header-icon"><i class="fas fa-user-check fa-fw"></i></div> Personal Information</div>
                    <div class="om-profile-body mb-3">
                        <div class="form-group row">
                            <div class="col-lg-3">
                                <div class="om-box-dot"><i class="fas fa-circle fa-fw"></i></div> <span class="om-profile-year"><i class="fas fa-user fa-fw"></i> Fullname</span>
                            </div>
                            <div class="col-lg-9">
                                <div class="om-descrip">
                                    <div class="om-descrip-title">: Konda Vamshi Das</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-3">
                                <div class="om-box-dot"><i class="fas fa-circle fa-fw"></i></div> <span class="om-profile-year"><i class="fas fa-user fa-fw"></i> Mother Name</span>
                            </div>
                            <div class="col-lg-9">
                                <div class="om-descrip">
                                    <div class="om-descrip-title">: Konda Sunitha</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-3">
                                <div class="om-box-dot"><i class="fas fa-circle fa-fw"></i></div> <span class="om-profile-year"><i class="fas fa-user fa-fw"></i> Father Name</span>
                            </div>
                            <div class="col-lg-9">
                                <div class="om-descrip">
                                    <div class="om-descrip-title font-weight-normal">: Konda Ranga Das</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-3">
                                <div class="om-box-dot"><i class="fas fa-circle fa-fw"></i></div> <span class="om-profile-year"><i class="fas fa-birthday-cake fa-fw"></i> Date Of Birth</span>
                            </div>
                            <div class="col-lg-9">
                                <div class="om-descrip">
                                    <div class="om-descrip-title font-weight-normal">: 19 / 12 / 2020</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-3">
                                <div class="om-box-dot"><i class="fas fa-circle fa-fw"></i></div> <span class="om-profile-year"><i class="fas fa-language fa-fw"></i> Languages</span>
                            </div>
                            <div class="col-lg-9">
                                <div class="om-descrip">
                                    <div class="om-descrip-title font-weight-normal">: Telugu (Mother Tongue), Hindi, English</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-3">
                                <div class="om-box-dot"><i class="fas fa-circle fa-fw"></i></div> <span class="om-profile-year"><i class="fas fa-map-marker-alt fa-fw"></i> Address</span>
                            </div>
                            <div class="col-lg-9">
                                <div class="om-descrip">
                                    <div class="om-descrip-title font-weight-normal">: #2-1-112/4, Plot No: 10, Venkat Reddy Nagar, Colony, Nagole, Ranga Reddy - 500068</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <img src="../../../assets/images/banner1.png" width="100%" alt="">
        </div>
    </div>
</div>