<div class="container-fluid px-3 mt-3">
	<div class="row">
		<div class="col-3">
        <div class="accordion" id="JobsFilter">
            <div class="card">
              <div class="card-header om-card-header" data-toggle="collapse" data-target="#PostType" aria-expanded="true" aria-controls="PostType" id="headingOne"><b>Post Type</b></div>
              <div id="PostType" class="collapse show" aria-labelledby="headingOne" data-parent="#JobsFilter">
                <div class="card-body p-2">
                  <select class="form-control form-control-sm">
                    <option value="">Select</option>
                    <option value="">New Post</option>
                    <option value="">One Week Post</option>
                    <option value="">Two Week Post</option>
                    <option value="">Three Week Post</option>
                    <option value="">Four Week Post</option>
                    <option value="">1 Month Post</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header om-card-header" id="headingTwo" data-toggle="collapse" data-target="#Location" aria-expanded="true" aria-controls="Location"><b>Location</b></div>
              <div id="Location" class="collapse show" aria-labelledby="headingTwo" data-parent="#JobsFilter">
                <div class="card-body">
                  <label class="w-100"><input type="checkbox" name="location" class="mr-2"> Hyderabad</label>
                  <label class="w-100"><input type="checkbox" name="location" class="mr-2"> Bengaluru</label>
                  <label class="w-100"><input type="checkbox" name="location" class="mr-2"> Delhi / NCR</label>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header om-card-header" id="headingThree" data-toggle="collapse" data-target="#Salary" aria-expanded="false" aria-controls="Salary"><b>Salary</b></div>
              <div id="Salary" class="collapse show" aria-labelledby="headingThree" data-parent="#JobsFilter">
                <div class="card-body">
                  <label class="w-100"><input type="checkbox" name="location" class="mr-2"> 0-3 Lakhs</label>
                  <label class="w-100"><input type="checkbox" name="location" class="mr-2"> 3-6 Lakhs</label>
                  <label class="w-100"><input type="checkbox" name="location" class="mr-2"> 6-10 Lakhs</label>
                  <label class="w-100"><input type="checkbox" name="location" class="mr-2"> 10-15 Lakhs</label>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header om-card-header" id="headingThree" data-toggle="collapse" data-target="#Experience" aria-expanded="false" aria-controls="Experience"><b>Experience</b></div>
              <div id="Experience" class="collapse show" aria-labelledby="headingThree" data-parent="#JobsFilter">
                <div class="card-body">
                  <input type="range" name="experence" class="form-control">
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header om-card-header" id="headingThree" data-toggle="collapse" data-target="#PostedBy" aria-expanded="false" aria-controls="PostedBy"><b>Posted by</b></div>
              <div id="PostedBy" class="collapse show" aria-labelledby="headingThree" data-parent="#JobsFilter">
                <div class="card-body">
                  <label class="w-100"><input type="checkbox" name="location" class="mr-2"> Company Jobs</label>
                  <label class="w-100"><input type="checkbox" name="location" class="mr-2"> Consultant Jobs</label>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header om-card-header" id="headingThree" data-toggle="collapse" data-target="#Education" aria-expanded="false" aria-controls="Education"><b>Education</b></div>
              <div id="Education" class="collapse show" aria-labelledby="headingThree" data-parent="#JobsFilter">
                <div class="card-body">
                  <label class="w-100"><input type="checkbox" name="location" class="mr-2"> Masters</label>
                  <label class="w-100"><input type="checkbox" name="location" class="mr-2"> Post Graduation</label>
                  <label class="w-100"><input type="checkbox" name="location" class="mr-2"> Graduation</label>
                  <label class="w-100"><input type="checkbox" name="location" class="mr-2"> Engineering</label>
                  <label class="w-100"><input type="checkbox" name="location" class="mr-2"> Diploma</label>
                  <label class="w-100"><input type="checkbox" name="location" class="mr-2"> B. Pharma</label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6">
            <div class="p-2 mb-2 small"><b>1 - 20 of 2398</b> Jobs Found</div>
            <div class="mobile_listing_li mt-0" [routerLink]="['/jobdetails']">
                <div class="header">
                    <h1>Vice President - Business Development</h1>
                    <div>
                        <span><i class="fas fa-user-tie fa-fw"></i> Front Office Executive</span> 
                        <span><i class="fas fa-map-marker-alt fa-fw"></i> Hyderabad</span> 
                        <span><i class="fas fa-calendar-day fa-fw"></i> January 7th</span>
                        <span class="float-right list-head-icons"><i class="fas fa-share-alt fa-fw fa-2x"></i> Share it <i class="far fa-heart fa-fw fa-2x"></i> Save</span>
                    </div>
                </div>
                <div class="om-job-details">
                    <table class="table table-sm table-borderless mb-0">
                        <tr>
                            <th><i class="fas fa-building fa-fw"></i> Company Name:</th>
                            <td colspan="3">Multi Mantech International Pvt. Ltd</td>
                        </tr>
                        <tr>
                            <th><i class="fas fa-briefcase fa-fw"></i> Experience</th>
                            <td>6 - 8 Years</td>
                            <th><i class="fas fa-rupee-sign fa-fw"></i> Salary:</th>
                            <td>4,50,000 - 5,50,000</td>
                        </tr>
                        <tr>
                            <th><i class="fas fa-graduation-cap fa-fw"></i> Education:</th>
                            <td>B.Com</td>
                            <th><i class="fas fa-map-marker-alt fa-fw"></i> Location:</th>
                            <td>Hyderabad</td>
                        </tr>
                        <tr>
                          <td colspan="4"><i class="fas fa-info-circle fa-fw"></i> <b>Job Description:</b> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut quis architecto eos, facere</td>
                        </tr>
                    </table>
                </div>
                <div class="footer">
                  <div class="row no-gutters">
                    <div class="col-lg-4 text-left"><i class="fas fa-fire fa-fw text-danger"></i> Hot Opening</div>
                    <div class="col-lg-4"><i class="fas fa-clock fa-fw"></i> Posted On: 3 Days Ago</div>
                    <div class="col-lg-4 text-right">Read More <i class="fas fa-arrow-right fa-fw"></i></div>
                  </div>
                </div>
            </div>
            <div class="mobile_listing_li mt-0" [routerLink]="['/jobdetails']">
              <div class="header">
                  <h1>Vice President - Business Development</h1>
                  <div>
                      <span><i class="fas fa-user-tie fa-fw"></i> Front Office Executive</span> 
                      <span><i class="fas fa-map-marker-alt fa-fw"></i> Hyderabad</span> 
                      <span><i class="fas fa-calendar-day fa-fw"></i> January 7th</span>
                      <span class="float-right list-head-icons"><i class="fas fa-share-alt fa-fw fa-2x"></i> Share it <i class="far fa-heart fa-fw fa-2x"></i> Save</span>
                  </div>
              </div>
              <div class="om-job-details">
                  <table class="table table-sm table-borderless mb-0">
                      <tr>
                          <th><i class="fas fa-building fa-fw"></i> Company Name:</th>
                          <td colspan="3">Multi Mantech International Pvt. Ltd</td>
                      </tr>
                      <tr>
                          <th><i class="fas fa-briefcase fa-fw"></i> Experience</th>
                          <td>6 - 8 Years</td>
                          <th><i class="fas fa-rupee-sign fa-fw"></i> Salary:</th>
                          <td>4,50,000 - 5,50,000</td>
                      </tr>
                      <tr>
                          <th><i class="fas fa-graduation-cap fa-fw"></i> Education:</th>
                          <td>B.Com</td>
                          <th><i class="fas fa-map-marker-alt fa-fw"></i> Location:</th>
                          <td>Hyderabad</td>
                      </tr>
                      <tr>
                        <td colspan="4"><i class="fas fa-info-circle fa-fw"></i> <b>Job Description:</b> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut quis architecto eos, facere</td>
                      </tr>
                  </table>
              </div>
              <div class="footer">
                <div class="row no-gutters">
                  <div class="col-lg-4 text-left"><i class="fas fa-fire fa-fw text-danger"></i> Hot Opening</div>
                  <div class="col-lg-4"><i class="fas fa-clock fa-fw"></i> Posted On: 3 Days Ago</div>
                  <div class="col-lg-4 text-right">Read More <i class="fas fa-arrow-right fa-fw"></i></div>
                </div>
              </div>
          </div>
        </div>
        <div class="col-3">

        </div>
	</div>
</div>