<div class="container-fluid px-3 mt-3">
	<div class="row">
		<div class="col-4">
            <div class="main_categery">
                <div class="row" style="background-color:#fff;">
                    <div class="w-100 text-center border-bottom box-header"><b>Advance Search</b></div>
                    <form [formGroup]="stateForm" class="w-100 mb-0">
                        <div class="row p-3">
                            <div class="col-lg-6 form-group">
                                <select name="state" class="form-control form-control-sm">
                                    <option value="">Select State</option>
                                    <option value="Telangana">Telangana</option>
                                    <option value="Andhra Pradesh">Andhra Pradesh</option>
                                </select>
                            </div>
                            <div class="col-lg-6 form-group">
                                <select name="jobtype" class="form-control form-control-sm">
                                    <option value="">Select Type</option>
                                    <option value="Full Time">Full Time</option>
                                    <option value="Part Time">Part Time</option>
                                </select>
                            </div>
                            <div class="col-lg-6 form-group">
                                <select name="designation" class="form-control form-control-sm">
                                    <option value="">Select Designation</option>
                                    <option value="Web Developer">Web Developer</option>
                                    <option value="Web Designer">Web Designer</option>
                                </select>
                            </div>
                            <div class="col-lg-6 form-group">
                                <select class="form-control form-control-sm">
                                    <option value="">Select Job Type</option>
                                    <option value="">Full Time</option>
                                    <option value="">Part Time</option>
                                </select>
                            </div>
                            <div class="w-100"></div>
                            <div class="col-lg-12 text-center">
                                <button type="button" class="btn btn-success btn-sm">Search</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="row mt-3" style="background-color:#fff;">
                    <div class="w-100 text-center border-bottom box-header mb-1"><b>Search Manual</b></div>
                    <div class="col-lg-6 form-group">
                        <a href="" class="small">Jobs By Designation</a>
                    </div>
                    <div class="col-lg-6 form-group">
                        <a href="" class="small">Jobs By Location</a>
                    </div>
                    <div class="col-lg-6 form-group">
                        <a href="" class="small">Jobs By Skill</a>
                    </div>
                    <div class="col-lg-6 form-group">
                        <a href="" class="small">Jobs By Category</a>
                    </div>
                    <div class="col-lg-6 form-group">
                        <a href="" class="small">Jobs By Company</a>
                    </div>
                    <div class="col-lg-6 form-group">
                        <a href="" class="small">Jobs By Higher Cadre</a>
                    </div>
                </div>
                <div class="row mt-3" style="background-color:#fff;">
                    <div class="w-100 text-center border-bottom box-header mb-1"><b>Part Time / Freelancing Works</b></div>
                    <div class="col-lg-6 form-group">
                        <a href="" class="small">IT / Hardware Freelancing</a>
                    </div>
                    <div class="col-lg-6 form-group">
                        <a href="" class="small">Web Design Freelancing</a>
                    </div>
                    <div class="col-lg-6 form-group">
                        <a href="" class="small">Web Development Freelancing</a>
                    </div>
                    <div class="col-lg-6 form-group">
                        <a href="" class="small">Graphic Design Freelancing</a>
                    </div>
                    <div class="col-lg-6 form-group">
                        <a href="" class="small">Accounting Freelancing</a>
                    </div>
                    <div class="col-lg-6 form-group">
                        <a href="" class="small">Testing Tool Freelancing</a>
                    </div>
                    <div class="col-lg-6 form-group">
                        <a href="" class="small">Penetrating Freelancing</a>
                    </div>
                    <div class="col-lg-6 form-group">
                        <a href="" class="small">Embed Systems Freelancing</a>
                    </div>
                    <div class="col-lg-6 form-group">
                        <a href="" class="small">Mobile App Freelancing</a>
                    </div>
                    <div class="col-lg-6 form-group">
                        <a href="" class="small">Digital Marketing Freelancing</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="om-post-free-ads-box position-relative mb-3">
                <div class="row">
                    <div class="w-100 text-center border-bottom box-header"><b>Top Search</b></div>
                    <div class="col-3 om-sub-menu-box">
                        <a [routerLink]="['/jobs']" class="row no-gutters">
                            <div class="col-3"><img src="../../assets/images/icon/front_office_excu.png"></div>
                            <div class="col-9"><p>Front Office Executive</p></div>
                        </a>
                    </div>
                    <div class="col-3 om-sub-menu-box">
                        <a [routerLink]="['/jobs']" class="row no-gutters">
                            <div class="col-3"><img src="../../assets/images/icon/insurance_financial_serivices.png"></div>
                            <div class="col-9"><p>Banking / Financial</p></div>
                        </a>
                    </div>
                    <div class="col-3 om-sub-menu-box">
                        <a [routerLink]="['/jobs']" class="row no-gutters">
                            <div class="col-3"><img src="../../assets/images/icon/hr_admin.png"></div>
                            <div class="col-9"><p>HR / Admin</p></div>
                        </a>
                    </div>
                    <div class="col-3 om-sub-menu-box">
                        <a [routerLink]="['/jobs']" class="row no-gutters">
                            <div class="col-3"><img src="../../assets/images/icon/sales.png"></div>
                            <div class="col-9"><p>Marketing</p></div>
                        </a>
                    </div>
                    <div class="col-3 om-sub-menu-box">
                        <a [routerLink]="['/jobs']" class="row no-gutters">
                            <div class="col-3"><img src="../../assets/images/icon/sales.png"></div>
                            <div class="col-9"><p>Sales</p></div>
                        </a>
                    </div>
                    <div class="col-3 om-sub-menu-box">
                        <a [routerLink]="['/jobs']" class="row no-gutters">
                            <div class="col-3"><img src="../../assets/images/icon/webdesigner.png"></div>
                            <div class="col-9"><p>Web Designer / Developer</p></div>
                        </a>
                    </div>
                    <div class="col-3 om-sub-menu-box">
                        <a [routerLink]="['/jobs']" class="row no-gutters">
                            <div class="col-3"><img src="../../assets/images/icon/computer_services.png"></div>
                            <div class="col-9"><p>Hardware & Networking</p></div>
                        </a>
                    </div>
                    <div class="col-3 om-sub-menu-box">
                        <a [routerLink]="['/jobs']" class="row no-gutters">
                            <div class="col-3"><img src="../../assets/images/icon/teachers.png"></div>
                            <div class="col-9"><p>Teachers</p></div>
                        </a>
                    </div>
                    <div class="col-3 om-sub-menu-box">
                        <a [routerLink]="['/jobs']" class="row no-gutters">
                            <div class="col-3"><img src="../../assets/images/icon/engineering.png"></div>
                            <div class="col-9"><p>Engineering</p></div>
                        </a>
                    </div>
                    <div class="col-3 om-sub-menu-box">
                        <a [routerLink]="['/jobs']" class="row no-gutters">
                            <div class="col-3"><img src="../../assets/images/icon/doctors.png"></div>
                            <div class="col-9"><p>Doctor</p></div>
                        </a>
                    </div>
                    <div class="col-3 om-sub-menu-box">
                        <a [routerLink]="['/jobs']" class="row no-gutters">
                            <div class="col-3"><img src="../../assets/images/icon/deliveery_collection.png"></div>
                            <div class="col-9"><p>Delivery / Collection</p></div>
                        </a>
                    </div>
                    <div class="col-3 om-sub-menu-box">
                        <a [routerLink]="['/jobs']" class="row no-gutters">
                            <div class="col-3"><img src="../../assets/images/icon/telecaller.png"></div>
                            <div class="col-9"><p>Telecallers</p></div>
                        </a>
                    </div>
                    <div class="col-3 om-sub-menu-box">
                        <a [routerLink]="['/jobs']" class="row no-gutters">
                            <div class="col-3"><img src="../../assets/images/icon/back_office_data.png"></div>
                            <div class="col-9"><p>Back Office / Data Entry</p></div>
                        </a>
                    </div>
                    <div class="col-3 om-sub-menu-box">
                        <a [routerLink]="['/jobs']" class="row no-gutters">
                            <div class="col-3"><img src="../../assets/images/icon/chef.png"></div>
                            <div class="col-9"><p>Chef</p></div>
                        </a>
                    </div>
                    <div class="col-3 om-sub-menu-box">
                        <a [routerLink]="['/jobs']" class="row no-gutters">
                            <div class="col-3"><img src="../../assets/images/icon/health_beauty_pro.png"></div>
                            <div class="col-9"><p>Beautician</p></div>
                        </a>
                    </div>
                    <div class="col-3 om-sub-menu-box">
                        <a [routerLink]="['/jobs']" class="row no-gutters">
                            <div class="col-3"><img src="../../assets/images/icon/doctors.png"></div>
                            <div class="col-9"><p>Nurse</p></div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="om-post-free-ads-box position-relative">
                <div class="row">
                    <div class="w-100 text-center border-bottom box-header"><b>Search By Designation</b></div>
                    <div class="col">
                        <div class="jobs_list">
                            <div class="row">
                                <a *ngFor="let designa of designation" [routerLink]="['designa.link']" class="col-3">{{designa.name}}</a>
                                <a [routerLink]="['/joblist']" class="col-3">Front Office Executive</a>
                                <a href="#" class="col-3">Banking / Finance</a>
                                <a href="#" class="col-3">HR / Admin</a>
                                <a href="#" class="col-3">Marketing</a>
                                <a href="#" class="col-3">Sales</a>
                                <a href="#" class="col-3">Web Designer / Developer</a>
                                <a href="#" class="col-3">Hardware &amp; Networking</a>
                                <a href="#" class="col-3">Teachers</a>
                                <a href="#" class="col-3">Engineering</a>
                                <a href="#" class="col-3">Doctor</a>
                                <a href="#" class="col-3">Delivery / Collection Excutive</a>
                                <a href="#" class="col-3">Telecallers</a>
                                <a href="#" class="col-3">Back Office / Data Entry</a>
                                <a href="#" class="col-3">Chef</a>
                                <a href="#" class="col-3">Beautician</a>
                                <a href="#" class="col-3">Nurse</a>
                                <a href="#" class="col-3">Helper / Office Assistant</a>
                                <a href="#" class="col-3">Accountant</a>
                                <a href="#" class="col-3">Work From Home</a>
                                <a href="#" class="col-3">Drivers</a>
                                <a href="#" class="col-3">Animation</a>
                                <a href="#" class="col-3">Architect</a>
                                <a href="#" class="col-3">Bartender</a>
                                <a href="#" class="col-3">Bouncer</a>
                                <a href="#" class="col-3">Business Analyst</a>
                                <a href="#" class="col-3">Cameraman</a>
                                <a href="#" class="col-3">Caretaker</a>
                                <a href="#" class="col-3">Carpenter</a>
                                <a href="#" class="col-3">Cleaner</a>
                                <a href="#" class="col-3">Construction Laborer</a>
                                <a href="#" class="col-3">Content Writer</a>
                                <a href="#" class="col-3">Control Room Operator</a>
                                <a href="#" class="col-3">Counsellor</a>
                                <a href="#" class="col-3">Survey Executive</a>
                                <a href="#" class="col-3">Data Analyst</a>
                                <a href="#" class="col-3">Linux Administrator</a>
                                <a href="#" class="col-3">Graphic Designer</a>
                                <a href="#" class="col-3">DTP Operator</a>
                                <a href="#" class="col-3">Dubbing Artist</a>
                                <a href="#" class="col-3">Editor</a>
                                <a href="#" class="col-3">Electrician</a>
                                <a href="#" class="col-3">Engineer</a>
                                <a href="#" class="col-3">Event Planner</a>
                                <a href="#" class="col-3">Financial Advisor</a>
                                <a href="#" class="col-3">Fire Fighter</a>
                                <a href="#" class="col-3">Fitters</a>
                                <a href="#" class="col-3">Floor Manager</a>
                                <a href="#" class="col-3">Gardeners</a>
                                <a href="#" class="col-3">Host / Anchor</a>
                                <a href="#" class="col-3">House Keeping</a>
                                <a href="#" class="col-3">Insurance Consultant</a>
                                <a href="#" class="col-3">IT Software Developer</a>
                                <a href="#" class="col-3">IT Software - Test Engineer</a>
                                <a href="#" class="col-3">Lab Assistant</a>
                                <a href="#" class="col-3">Language Translator</a>
                                <a href="#" class="col-3">Lawyer</a>
                                <a href="#" class="col-3">Librarian</a>
                                <a href="#" class="col-3">Security Guard</a>
                                <a href="#" class="col-3">Lighting Technician</a>
                                <a href="#" class="col-3">Market Research Analyst</a>
                                <a href="#" class="col-3">Mechanic</a>
                                <a href="#" class="col-3">Medical Assistant</a>
                                <a href="#" class="col-3">Microbiologist</a>
                                <a href="#" class="col-3">Moulder</a>
                                <a href="#" class="col-3">Dietician / Nutritionist</a>
                                <a href="#" class="col-3">Movie Operator</a>
                                <a href="#" class="col-3">Project Manager</a>
                                <a href="#" class="col-3">Team Leader</a>
                                <a href="#" class="col-3">Packager</a>
                                <a href="#" class="col-3">Painter</a>
                                <a href="#" class="col-3">Photographer</a>
                                <a href="#" class="col-3">Pharmacist</a>
                                <a href="#" class="col-3">Pest Control Executive</a>
                                <a href="#" class="col-3">Plumber</a>
                                <a href="#" class="col-3">Product Manager</a>
                                <a href="#" class="col-3">Programmer</a>
                                <a href="#" class="col-3">Public Relation Officer</a>
                                <a href="#" class="col-3">Purchase Executive</a>
                                <a href="#" class="col-3">Quality Check / Inspector</a>
                                <a href="#" class="col-3">Reporter</a>
                                <a href="#" class="col-3">Safety Officer</a>
                                <a href="#" class="col-3">SAP Consultant</a>
                                <a href="#" class="col-3">Oracle Consultant</a>
                                <a href="#" class="col-3">Metal Workers</a>
                                <a href="#" class="col-3">Software Architect</a>
                                <a href="#" class="col-3">Soldering Operator</a>
                                <a href="#" class="col-3">Sound Engineer</a>
                                <a href="#" class="col-3">Sports Trainer</a>
                                <a href="#" class="col-3">Ticketing Executive</a>
                                <a href="#" class="col-3">Tailor</a>
                                <a href="#" class="col-3">Trainer</a>
                                <a href="#" class="col-3">Video Grapher</a>
                                <a href="#" class="col-3">Waiter / Bearer</a>
                                <a href="#" class="col-3">Welder</a>
                                <a href="#" class="col-3">Lineman</a>
                                <a href="#" class="col-3">Freelancer Works</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	</div>
</div>