<div class="container-fluid">
    <div class="row mt-3">
        <div class="container-fluid">
            <div class="row mt-3">
                <div class="col-2">
                    <app-hr-side-nav></app-hr-side-nav>
                </div>
                <div class="col-7">
                    <div class="card mb-3">
                        <div class="card-header p-2">
                            <h6 class="mb-0">Your Selected Categries <span class="small"><i class="fas fa-info-circle fa-fw"></i> Your Live Feeds are baised on your selected categries</span></h6>
                        </div>
                        <div class="card-body p-2">
                            <div class="up_catg_list jobs" data-toggle="tooltip" data-placement="bottom" title="Jobs"></div>
                            <div class="up_catg_list mobile" data-toggle="tooltip" data-placement="bottom" title="Mobile"></div>
                            <div class="up_catg_list electronics" data-toggle="tooltip" data-placement="bottom" title="Electronics"></div>
                            <div class="up_catg_list home_appli" data-toggle="tooltip" data-placement="bottom" title="Home Appliances"></div>
                            <div class="up_catg_list services" data-toggle="tooltip" data-placement="bottom" title="Services"></div>
                            <div class="up_catg_list realest" data-toggle="tooltip" data-placement="bottom" title="Real Estate"></div>
                            <div class="up_catg_list vehicles" data-toggle="tooltip" data-placement="bottom" title="Vehicles"></div>
                            <div class="up_catg_list pets" data-toggle="tooltip" data-placement="bottom" title="Pets"></div>
                            <div class="up_catg_list community" data-toggle="tooltip" data-placement="bottom" title="Community"></div>
                            <div class="up_catg_list educ" data-toggle="tooltip" data-placement="bottom" title="Education"></div>
                            <div class="up_catg_list anunes" data-toggle="tooltip" data-placement="bottom" title="Open Meetings"></div>
                        </div>
                    </div>
                    <div class="mobile_listing_li" [routerLink]="['/jobdetails']">
                        <div class="header">
                            <h1>Moto x play 32 gb with turbo charger</h1>
                            <div>
                                <span><i class="fas fa-user-tie fa-fw"></i> Front Office Executive</span> 
                                <span><i class="fas fa-map-marker-alt fa-fw"></i> Hyderabad</span> 
                                <span><i class="fas fa-calendar-day fa-fw"></i> January 7th</span>
                                <span class="float-right list-head-icons"><i class="fas fa-share-alt fa-fw fa-2x"></i> Share it <i class="far fa-heart fa-fw fa-2x"></i> Add to Favourite</span>
                            </div>
                        </div><hr>
                        <div class="row no-gutters">
                            <div class="col-md-3">
                                <div class="om-job-profile">
                                    <img src="../../assets/images/avtar.png" class="w-100">
                                </div>
                            </div>
                            <div class="col-md-9 pr-2">
                                <table class="table table-sm table-borderless" style="margin-bottom:15px;">
                                    <tr>
                                        <th width="30%">Fullname</th>
                                        <td>K V Vamshi Das</td>
                                        <th>Designation</th>
                                        <td>Web Designer</td>
                                    </tr>
                                    <tr>
                                        <th width="30%">Salary:</th>
                                        <td>3,50,000</td>
                                        <th>Expt Salary:</th>
                                        <td>4,50,000</td>
                                    </tr>
                                    <tr>
                                        <th>Experience</th>
                                        <td>6 Years</td>
                                        <th>Current Location's:</th>
                                        <td>Hyderabad</td>
                                    </tr>
                                    <tr>
                                        <th>Preferred Location's:</th>
                                        <td colspan="3">Hyderabad, Bangolur, Andhra Pradesh</td>
                                    </tr>
                                    <tr>
                                        <th>Education:</th>
                                        <td colspan="3">SSC, CEC, B.Com, B.Tech</td>
                                    </tr>
                                </table>
                                <div class="om-key-skils">
                                    <b>Key Skils:</b>
                                    <span>HTML</span>
                                    <span>CSS</span>
                                    <span>CSS3</span>
                                    <span>PHP</span>
                                    <span>MySQL</span>
                                    <span>SASS</span>
                                    <span>SCSS</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mobile_listing_li">
                        <div class="header">
                            <h1>Moto x play 32 gb with turbo charger</h1>
                            <div>
                                <span><i class="fas fa-mobile-alt fa-fw"></i> Mobile Phones</span> 
                                <span><i class="fas fa-map-marker-alt fa-fw"></i> Hyderabad</span> 
                                <span><i class="fas fa-calendar-day fa-fw"></i> January 7th</span>
                                <span class="float-right list-head-icons"><i class="fas fa-share-alt fa-fw fa-2x"></i> Share it <i class="far fa-heart fa-fw fa-2x"></i> Add to Favourite</span>
                            </div>
                        </div><hr>
                        <div class="row">
                            <div class="col-4 pr-0">
                                <img src="../../assets/images/image3.jpg" class="img-fluid" style="border-bottom-left-radius:3px;">
                            </div>
                            <div class="col-8 pl-0">
                                <ul class="mobile_feed">
                                    <li><i class="fas fa-mobile-alt"></i> 5.5" Inch</li>
                                    <li><i class="fas fa-memory fa-fw"></i> 32 GB</li>
                                    <li><i class="fab fa-android fa-fw"></i> Android Kitkat 25.0.01</li>
                                    <li><i class="fas fa-camera"></i> 12.5 MP</li>
                                    <li><i class="fas fa-battery-full fa-fw"></i> 33400 mAh</li>
                                    <li><i class="fas fa-microchip fa-fw"></i> 2.36 GHz Octa Cora</li>
                                    <li><i class="fas fa-fingerprint fa-fw"></i> Fingerprint</li>
                                </ul>
                                <div class="clearfix">
                                    <div class="w-75 float-left px-2"><p class="om-short-details"><i class="fas fa-exclamation-circle fa-fw"></i> Details<br> Lorem ipsum dolor sit amet, consectetur adipisicing elit. At veniam nihil magni iure, eos natus aliquid eius magnam. Quo, expedita</p></div>
                                    <div class="w-25 om-price-box">
                                        <span><i class="fas fa-check-circle fa-fw"></i> <strong>Verified</strong></span>
                                        <h3 class="om-price"><i class="fas fa-rupee-sign"></i> 2,00,000</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mobile_listing_li" [routerLink]="['/appliancedetails']">
                        <div class="header">
                            <h1>Moto x play 32 gb with turbo charger</h1>
                            <div>
                                <span><i class="fas fa-mobile-alt fa-fw"></i> Mobile Phones</span> 
                                <span><i class="fas fa-map-marker-alt fa-fw"></i> Hyderabad</span> 
                                <span><i class="fas fa-calendar-day fa-fw"></i> January 7th</span>
                                <span class="float-right list-head-icons"><i class="fas fa-share-alt fa-fw fa-2x"></i> Share it <i class="far fa-heart fa-fw fa-2x"></i> Add to Favourite</span>
                            </div>
                        </div><hr>
                        <div class="row">
                            <div class="col-4 pr-0">
                                <img src="../../assets/images/image3.jpg" class="img-fluid" style="border-bottom-left-radius:3px;">
                            </div>
                            <div class="col-8 pl-0">
                                <div class="clearfix">
                                    <div class="w-75 float-left px-2"><p class="om-short-details"><i class="fas fa-exclamation-circle fa-fw"></i> Details<br> Lorem ipsum dolor sit amet, consectetur adipisicing elit. At veniam nihil magni iure, eos natus aliquid eius magnam. Quo, expedita tenetur eligend</p></div>
                                    <div class="w-25 om-price-box">
                                        <span><i class="fas fa-check-circle fa-fw"></i> <strong>Verified</strong></span>
                                        <h3 class="om-price"><i class="fas fa-rupee-sign"></i> 2,00,000</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mobile_listing_li" [routerLink]="['/communitydetails']">
                        <div class="header">
                            <h1>Moto x play 32 gb with turbo charger</h1>
                            <div>
                                <span><i class="fas fa-mobile-alt fa-fw"></i> Mobile Phones</span> 
                                <span><i class="fas fa-map-marker-alt fa-fw"></i> Hyderabad</span> 
                                <span><i class="fas fa-calendar-day fa-fw"></i> January 7th</span>
                                <span class="float-right list-head-icons"><i class="fas fa-share-alt fa-fw fa-2x"></i> Share it <i class="far fa-heart fa-fw fa-2x"></i> Add to Favourite</span>
                            </div>
                        </div><hr>
                        <div class="row">
                            <div class="col-4 pr-0">
                                <img src="../../assets/images/image3.jpg" class="img-fluid" style="border-bottom-left-radius:3px;">
                            </div>
                            <div class="col-8 pl-0">
                                <div class="clearfix">
                                    <div class="w-75 float-left px-2"><p class="om-short-details"><i class="fas fa-exclamation-circle fa-fw"></i> Details<br> Lorem ipsum dolor sit amet, consectetur adipisicing elit. At veniam nihil magni iure, eos natus aliquid eius magnam. Quo, expedita tenetur eligend</p></div>
                                    <div class="w-25 om-price-box">
                                        <span><i class="fas fa-check-circle fa-fw"></i> <strong>Verified</strong></span>
                                        <h3 class="om-price"><i class="fas fa-rupee-sign"></i> 2,00,000</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <app-user-right-col></app-user-right-col>
                </div>
            </div>
        </div>
    </div>
</div>